<!DOCTYPE html>
<html>
  <head>
  <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
  <script src="static/js/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/TAFiles.js"></script>

  </head>
  <body>
    <div class="container">
    <h1>In God We Trust. All others must bring Data</h1>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Documents
          <span class="caret"></span>
        </button>
        <ul id="dropdown-area" class="dropdown-menu">
        </ul>
      </div>
      <div class="btn-group">
        <button data-loading-text="Tokenizing..." type="button" class="btn btn-default" id="btn-tokenize">Tokenize</button>
        <button data-loading-text="Tagging..." type="button" class="btn btn-default" id="btn-pos">POS Tag</button>
        <button data-loading-text="Chunking..." type="button" class="btn btn-default" id="btn-chunk">Chunk</button>
        <button data-loading-text="Extracting..." type="button" class="btn btn-default" id="btn-entity">Extract Entities</button>
        <button data-loading-text="Identifying..." type="button" class="btn btn-default" id="btn-tf">Text Frequency</button>
      </div>
      <br/>
      <br/>
      <div class="well">
        <strong>Plain Text</strong>
        <div id="plain-text-area" class="output-area">
        </div>
      </div>
      <div class="well">
        <strong>Tokenized Text</strong>
        <div id="tokenized-text-area" class="output-area">
        </div>
      </div>
      <div class="well">
        <strong>POS Tagged Text</strong>
        <div id="POS-text-area" class="output-area">
        </div>
      </div>
      <div class="well">
        <strong>Chunked Text</strong>
        <div id="chunked-text-area" class="output-area">
        </div>
      </div>
      <div class="well">
        <strong>Entity Text</strong>
        <div id="entity-text-area" class="output-area">
        </div>
      </div>
    <div class="well">
    	<strong>Text Frequency</strong>
    	<div id="frequency-text-area" class="output-area">
    		<table class="table table-striped" id="table-tf">
    		<tr>
    			<th>Entity</th>
    			<th>Frequency Score</th>
    		</tr>
    		</table>
    	</div>
    </div>
    </div>
  </body>
</html>