<!DOCTYPE html>
<html>
  <head>
  <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  <script src="static/js/jquery.js">
  </script>
  <script src="static/js/bootstrap.min.js">
  </script>
  <script src="static/js/feedback.js">
  </script>
  <style type="text/css">
  body {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
  }
  .container{
  	text-align: center;
  }
  </style>
  </head>
  	<div class = "container">
  		<h1>Feedback made better</h1>
  	</div>
  	<div class="center well text-center">
  	<form action="" method="get">
  		<div class = "input-prepend"><span class="add-on"><i class="icon-file"></i></span>
  			<input type="text" id="link" placeholder="google spreadsheet link" class="span6">
  		</div>
  		</br>
  			<input type="submit" value="Analyze" class = "btn btn-large" id ="analyze">
  	</form>
  </div>
  <body>
  </body>
  </html>